<div>

  <div>
    <label for="nombre">Nombre: </label>
    <input type="text" class="form-control" id="nombre" [(ngModel)]="this.usuarioMostrar.nombre">
  </div>
  <div>
      <label for="username">Email: </label>
      <input type="text" class="form-control" id="username" [(ngModel)]="this.usuarioMostrar.email">

    </div>
    <div>
        <label for="edad">Edad: </label>
        <input type="text" class="form-control" id="edad" [(ngModel)]="this.usuarioMostrar.edad">

      </div>
      <div>
          <label for="telefono">Teléfono:</label>
          <input type="text" class="form-control" id="telefono" [(ngModel)]="this.usuarioMostrar.telefono">
      </div>
      <label for="imagen">Imagen: </label>
      <br>

      <img *ngIf="!this.cambio" id="img" [src]="getSantizeUrl()"/>


      <div>
        <label class="image-upload-container btn btn-bwm">
            <span>Seleccionar imagen</span>
            <p></p>
            <input type='file' (change)="onSelectFile($event)"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.foto.errors }">
          </label>
    </div>


    <div *ngIf="this.sesionService.sesion == 'proveedor'">
        <label for="edad">Página web: </label>
        <input type="text" class="form-control" id="paginaweb" [(ngModel)]="this.usuarioMostrar.paginaweb">

    </div>

    <div *ngIf="this.sesionService.sesion == 'proveedor'">
        <label for="edad">Contacto: </label>
        <input type="text" class="form-control" id="contacto" [(ngModel)]="this.usuarioMostrar.contacto">
      </div>

      <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success btn-block" (click)="save()">
                Guardar
            </button>
        </div>
        <div class="col">
                <button type="button" class="btn btn-outline-danger btn-block" (click)="eliminar()">
                Eliminar
            </button>
        </div>
    </div>

</div>
