.carritoSi, .carritoNo {
    margin: 10px;
}

.has-text-centered:hover{
    background: #555;
}
.has-text-centered:hover .tooltiptext{
    visibility: visible;
}
.tooltip {
    justify-items: center;
    justify-content: center;
    display: inline-block;
  }

.has-text-centered .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    justify-content: center;
    justify-items: center;
    z-index: 1;
  }

  .centrar {
    position: absolute;
    left: 50%;
    margin-left: -50px;
  }
