<div class="container">
    <h1>Servicios: <small>Alimentación, alojamiento, transporte y demás.</small></h1>
    <div class="filtrar">
        <h2>Filtrar por: </h2>
        <select (change)="buscarServicio($event.target.value)" name="combo" id="combo" ng-model="listItems" >
            <option value=""> </option>
            <option value="Alojamiento">Alojamiento</option>
            <option value="Alimentacion">Alimentación</option>
            <option value="Transporte">Transporte</option>
            <option value="Paseo">Paseo ecológico</option>
            <option value="Otro">Otro</option>
          </select>
    </div>

  <div class="row">
    <div class="col-md-12">
        <app-shoppingcart></app-shoppingcart>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <div class="card-columns">
            <app-servicio-tarjeta  [servicio]="foo" [index]="foo.idx"  *ngFor="let foo of serviciosCopia; let i = index"></app-servicio-tarjeta>
        </div>
    </div>
  </div>
</div>


