<div class="card animated fadeIn fast" >
  <img class="card-img-top img-fluid" [src]="getSantizeUrl()" [alt]="servicio.nombre">
  <div class="card-body">
    <h4 class="card-title">{{ servicio.nombre }}</h4>
    <p class="card-text">{{servicio.tipo}}</p>
    <p class="card-text"> {{ servicio.descripcion }} </p>
    <p class="card-text">{{ servicio.pais }} - {{ servicio.ciudad }}</p>
    <p class="card-text">Precio: {{ servicio.costo | number:'.2-2' }} COP </p>

    <div *ngIf="this.sesion == 'usuario'">
        <button (click)="agregarServicio(servicio)"
        type="button" class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        Agregar al carrito
      </button>
    </div>



    <br>

    <button (click)="verServicio()"
      type="button" class="btn btn-dark btn-block">
      Ver más...
    </button>

    <!-- <a [routerLink]="['/servicio',i]" class="btn btn-outline-primary">Ver más link...</a> -->

  </div>
</div>
