<div *ngFor="let item of servicio">
  <h1 class="animated fadeIn">{{ item.nombre | uppercase }} <small>({{ item.ciudad }})</small></h1>
  <hr>

  <div class="row animated fadeIn fast">



    <div class="col-md-8">

        <div class="col-md-4">
            <img [src]="getSantizeUrl()" [alt]="item.nombre">
            <br><br>
          </div>

      <div>
          <label for="nombre">Nombre: </label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="item.nombre" >
      </div>

      <div>
          <label for="descripcion">Descripción: </label>
          <input type="text" class="form-control" id="descripcion" [(ngModel)]=" item.descripcion" >
      </div>

      <div class="imagen">
          <label class="image-upload-container btn btn-bwm">
              <span>Seleccionar imagen</span>
              <p></p>
              <input type='file' (change)="onSelectFile($event)"  class="form-control">
            </label>
        </div>

      <div>
          <label for="descripcion">Costo: </label>
          <input type="number" class="form-control" id="descripcion" [(ngModel)]="item.costo" >
      </div>

      <div>
          <label for="descripcion">Tipo: </label>
          <input type="text" class="form-control" id="descripcion" [(ngModel)]="item.tipo" readonly>
      </div>


      <div *ngIf="item.tipo == 'Alimentacion' || item.tipo == 'alimentacion'">

          <div>
              <label for="numeroPersonas">Cantidad de personas: </label>
              <input type="text" class="form-control" id="numeroPersonas" [(ngModel)]="item.numeroPersonas" >
          </div>
          <div>
              <label for="tipoComida">Tipo de comida:</label>
              <input type="text" class="form-control" id="tipoComida" [(ngModel)]="item.tipoComida" >
          </div>
          <div>
              <label for="cantidadPlatos">Cantidad de platos:</label>
              <input type="number" class="form-control" id="cantidadPlatos" [(ngModel)]="item.cantidadPlatos" >
          </div>

          <div class="form-group">
            <label>Inserte lugar o dirección donde se encuentra el servicio</label>
            <p>*Si colocas un lugar válido, mostraremos las reviews dadas por google !</p>
            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
              placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
              #search>
          </div>

          <agm-map [latitude]="item.latitud" [longitude]="item.longitud" [zoom]="zoom">
            <agm-marker [latitude]="item.latitud" [longitude]="item.longitud" [markerDraggable]="true" [label]="alimentacion"
            (dragEnd)="markerDragEnd($event)"> </agm-marker>
          </agm-map>
          <br>
          <h5>Address: {{address}}</h5>
          <div>Latitude: {{latitude}}</div>
          <div>Longitude: {{longitude}}</div>
          <div>Id: {{placeid}}</div>
          <br>

      </div>

      <div *ngIf="item.tipo == 'PaseoEcologico'  || item.tipo == 'paseoEcologico'">

          <div>
              <label for="numeroPersonas">Número de personas:</label>
              <input type="number" class="form-control" id="numeroPersonas" [(ngModel)]="item.numeroPersonas" >
          </div>

              <div>
                  <label for="origen">Origen:</label>
                  <input type="text" class="form-control" id="origen" [(ngModel)]="item.origen" >
              </div>

              <div>
                      <label for="destino">Destino:</label>
                      <input type="text" class="form-control" id="destino" [(ngModel)]="item.destino" >
              </div>

              <div>
                      <label for="horainicio">Hora inicio:</label>
                      <input type="time" class="form-control" id="horainicio" [(ngModel)]="item.horaInicio" >
              </div>

              <div>
                      <label for="horafin">Hora final:</label>
                      <input type="time" class="form-control" id="horafin" [(ngModel)]="item.horaFin" >
              </div>

              <div class="form-group">
                <label>Origen y destino del recorrido</label>
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                  placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                  #search>
              </div>

              <agm-map [latitude]="item.latitudOrigen" [longitude]="item.longitudOrigen" [zoom]="zoom">
                <agm-marker [latitude]="item.latitudOrigen" [longitude]="item.longitudOrigen" [markerDraggable]="true" [label]="origen"
                (dragEnd)="markerDragEnd1($event)"> </agm-marker>
                <agm-marker [latitude]="item.latitudDestino" [longitude]="item.longitudDestino" [markerDraggable]="true" [label]="destino"
                (dragEnd)="markerDragEnd2($event)"> </agm-marker>
              </agm-map>
              <br>
              <h5>Direccion origen: {{address1}}</h5>
              <div>Latitude origen: {{latitude1}}</div>
              <div>Longitude origen: {{longitude1}}</div>
              <div>Id origen: {{placeid1}}</div>
              <h5>Direccion destino: {{address2}}</h5>
              <div>Latitude destino: {{latitude2}}</div>
              <div>Longitude destino: {{longitude2}}</div>
              <div>Id destino: {{placeid2}}</div>
              <br>

      </div>

      <div *ngIf="item.tipo == 'Alojamiento'  || item.tipo == 'alojamiento' ">

          <div>
              <label for="numeroPersonas">Número de personas:</label>
              <input type="number" class="form-control" id="numeroPersonas" [(ngModel)]="item.numeroPersonas" >
          </div>

          <div class="form-group">
            <label for="tipoalojamiento">Tipo de alojamiento</label>
            <select [(ngModel)]="item.tipoAlojamiento" name="tipoalojamiento" id="tipoalojamiento" ng-model="listItems" class="form-control">
              <option value="HOTEL">Hotel</option>
              <option value="CASA">Casa</option>
              <option value="CAMPING">Camping</option>
              <option value="MOTEL">Motel</option>
            </select>
          </div>
          <div>
              <label for="numeroHabitaciones">Número de habitaciones:</label>
              <input type="number" class="form-control" id="numeroHabitaciones" [(ngModel)]="item.numeroHabitaciones" >
          </div>

          <div>
              <label for="numeroBanos">Número de baños:</label>
              <input type="number" class="form-control" id="numeroBanos" [(ngModel)]="item.numeroBanos" >
          </div>

          <div class="form-group">
            <label for="serviciolimpieza">Servicio de limpieza</label>
            <select [(ngModel)]="item.servicioLimpieza" name="serviciolimpieza" id="serviciolimpieza" ng-model="listItems"
              class="form-control">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
         </div>

         <div class="form-group">
            <label for="servicioWifi">Servicio de Wifi</label>
            <select [(ngModel)]="item.servicioWifi" name="servicioWifi" id="servicioWifi" ng-model="listItems" class="form-control">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
        </div>

        <div class="form-group">
          <label>Inserte lugar o dirección donde se encuentra el alojamiento</label>
          <p>*Si colocas un lugar válido, mostraremos las reviews dadas por google !</p>
          <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
            placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
            #search>
        </div>

        <agm-map [latitude]="item.latitud" [longitude]="item.longitud" [zoom]="zoom">
          <agm-marker [latitude]="item.latitud" [longitude]="item.longitud" [markerDraggable]="true" [label]="alojamiento" [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)"> </agm-marker>
        </agm-map>
        <br>
        <h5>Address: {{address}}</h5>
        <div>Latitude: {{latitude}}</div>
        <div>Longitude: {{longitude}}</div>
        <div>Id: {{placeid}}</div>
        <br>

      </div>

      <div *ngIf="item.tipo == 'Transporte'  || item.tipo == 'transporte'">

          <div>
              <label for="numeroPersonas">Número de personas:</label>
              <input type="number" class="form-control" id="numeroPersonas" [(ngModel)]="item.numeroPersonas" >
          </div>

          <div>
              <label for="empresa">Empresa transportadora:</label>
              <input type="text" class="form-control" id="empresa" [(ngModel)]="item.empresa" >
          </div>

          <div class="form-group">
            <label for="tipotransporte">Tipo de transporte</label>
            <select [(ngModel)]="item.tipoTransporte" name="tipotransporte" id="tipotransporte" ng-model="listItems"
              class="form-control">
              <option value="TERRESTRE">Terrestre</option>
              <option value="AEREO">Aéreo</option>
              <option value="MARITIMO">Marítimo</option>
            </select>
            </div>

          <div>
              <label for="origen">Origen:</label>
              <input type="text" class="form-control" id="origen" [(ngModel)]="item.origen" >
          </div>

          <div>
                  <label for="destino">Destino:</label>
                  <input type="text" class="form-control" id="destino" [(ngModel)]="item.destino" >
          </div>

          <div>
                  <label for="horaSalida">Hora Salida:</label>
                  <input type="time" class="form-control" id="horaSalida" [(ngModel)]="item.horaSalida" >
          </div>

          <div>
                  <label for="horaLlegada">Hora llegada:</label>
                  <input type="time" class="form-control" id="horaLlegada" [(ngModel)]="item.horaLlegada" >
          </div>

          <div class="form-group">
            <label>Origen y destino del recorrido</label>
            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
              placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
              #search>
          </div>

          <agm-map [latitude]="item.latitudOrigen" [longitude]="item.longitudOrigen" [zoom]="zoom">
            <agm-marker [latitude]="item.latitudOrigen" [longitude]="item.longitudOrigen" [markerDraggable]="true" [label]="origen"
            (dragEnd)="markerDragEnd1($event)"> </agm-marker>
            <agm-marker [latitude]="item.latitudDestino" [longitude]="item.longitudDestino" [markerDraggable]="true" [label]="destino"
            (dragEnd)="markerDragEnd2($event)"> </agm-marker>
          </agm-map>
          <br>
          <h5>Direccion origen: {{address1}}</h5>
          <div>Latitude origen: {{latitude1}}</div>
          <div>Longitude origen: {{longitude1}}</div>
          <div>Id origen: {{placeid1}}</div>
          <h5>Direccion destino: {{address2}}</h5>
          <div>Latitude destino: {{latitude2}}</div>
          <div>Longitude destino: {{longitude2}}</div>
          <div>Id destino: {{placeid2}}</div>
          <br>

      </div>
    </div>
  </div>
</div>
  <br>
<button type="button" class="btn btn-success btn-block" (click)="guardar()">Guardar</button>
<button class="btn btn-outline-danger btn-block" (click)="regresar()">Regresar</button>
