<div *ngFor="let item of servicio">
  <h1 class="animated fadeIn">{{ item.nombre | uppercase }} <small>({{ item.ciudad }})</small></h1>
  <hr>

  <div class="row animated fadeIn fast">

    

    <div class="col-md-8">
      
        <div class="col-md-4">
            <img [src]="getSantizeUrl()" [alt]="item.nombre">
            <br><br>
          </div>

      <div>
          <label for="nombre">Nombre: </label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="item.nombre" >
      </div>

      <div>
          <label for="descripcion">Descripción: </label>
          <input type="text" class="form-control" id="descripcion" [(ngModel)]=" item.descripcion" >
      </div>

      <div class="imagen">
          <label class="image-upload-container btn btn-bwm">
              <span>Seleccionar imagen</span>
              <p></p>
              <input type='file' (change)="onSelectFile($event)"  class="form-control">
            </label>
        </div>

      <div>
          <label for="descripcion">Costo: </label>
          <input type="text" class="form-control" id="descripcion" [(ngModel)]="item.costo" >
      </div>

      <div>
          <label for="descripcion">Tipo: </label>
          <input type="text" class="form-control" id="descripcion" [(ngModel)]="item.tipo" readonly>
      </div>


      <div *ngIf="item.tipo == 'Alimentacion'">

          <div>
              <label for="numeroPersonas">Cantidad de personas: </label>
              <input type="text" class="form-control" id="numeroPersonas" [(ngModel)]="item.numeroPersonas" >
          </div>
          <div>
              <label for="tipoComida">Tipo de comida:</label>
              <input type="text" class="form-control" id="tipoComida" [(ngModel)]="item.tipoComida" >
          </div>
          <div>
              <label for="cantidadPlatos">Cantidad de platos:</label>
              <input type="text" class="form-control" id="cantidadPlatos" [(ngModel)]="item.cantidadPlatos" >
          </div>
      </div>

      <div *ngIf="item.tipo == 'PaseoEcologico'">

          <div>
              <label for="numeroPersonas">Número de personas:</label>
              <input type="text" class="form-control" id="numeroPersonas" [(ngModel)]="item.numeroPersonas" >
          </div>

              <div>
                  <label for="origen">Origen:</label>
                  <input type="text" class="form-control" id="origen" [(ngModel)]="item.origen" >
              </div>

              <div>
                      <label for="destino">Destino:</label>
                      <input type="text" class="form-control" id="destino" [(ngModel)]="item.destino" >
              </div>

              <div>
                      <label for="horainicio">Hora inicio:</label>
                      <input type="text" class="form-control" id="horainicio" [(ngModel)]="item.horaInicio" >
              </div>

              <div>
                      <label for="horafin">Hora final:</label>
                      <input type="text" class="form-control" id="horafin" [(ngModel)]="item.horaFinal" >
              </div>

      </div>

      <div *ngIf="item.tipo == 'Alojamiento'">

          <div>
              <label for="numeroPersonas">Número de personas:</label>
              <input type="text" class="form-control" id="numeroPersonas" [(ngModel)]="item.numeroPersonas" >
          </div>

          <div>
              <label for="tipoAlojamiento">Tipo de alojamiento:</label>
              <input type="text" class="form-control" id="tipoAlojamiento" [(ngModel)]="item.tipoAlojamiento" >
          </div>

          <div>
              <label for="numeroHabitaciones">Número de habitaciones:</label>
              <input type="text" class="form-control" id="numeroHabitaciones" [(ngModel)]="item.numeroHabitaciones" >
          </div>

          <div>
              <label for="numeroBanos">Número de baños:</label>
              <input type="text" class="form-control" id="numeroBanos" [(ngModel)]="item.numeroBanos" >
          </div>

          <div>
              <label for="servicioLimpieza">Servicio de limpieza:</label>
              <input type="text" class="form-control" id="servicioLimpieza" [(ngModel)]="item.servicioLimpieza" >
          </div>

          <div>
              <label for="servicioWifi">Servicio de Wifi:</label>
              <input type="text" class="form-control" id="servicioWifi" [(ngModel)]="item.servicioWifi" >
          </div>

      </div>

      <div *ngIf="item.tipo == 'Transporte'">

          <div>
              <label for="numeroPersonas">Número de personas:</label>
              <input type="text" class="form-control" id="numeroPersonas" [(ngModel)]="item.numeroPersonas" >
          </div>

          <div>
              <label for="empresa">Empresa transportadora:</label>
              <input type="text" class="form-control" id="empresa" [(ngModel)]="item.empresa" >
          </div>

          <div>
              <label for="tipoTransporte">Tipo de transporte:</label>
              <input type="text" class="form-control" id="tipoTransporte" [(ngModel)]="item.tipoTransporte" >
          </div>

          <div>
              <label for="origen">Origen:</label>
              <input type="text" class="form-control" id="origen" [(ngModel)]="item.origen" >
          </div>

          <div>
                  <label for="destino">Destino:</label>
                  <input type="text" class="form-control" id="destino" [(ngModel)]="item.destino" >
          </div>

          <div>
                  <label for="horaSalida">Hora Salida:</label>
                  <input type="text" class="form-control" id="horaSalida" [(ngModel)]="item.horaSalida" >
          </div>

          <div>
                  <label for="horaLlegada">Hora llegada:</label>
                  <input type="text" class="form-control" id="horaLlegada" [(ngModel)]="item.horaLlegada" >
          </div>

      </div>
    </div>
  </div>
</div>
  <br>
<button type="button" class="btn btn-success btn-block" (click)="guardar()">Guardar</button>
<button class="btn btn-outline-danger btn-block" (click)="regresar()">Regresar</button>
