<br>
<div>
  <h2>Carrito</h2>
  <div class="carritoSi">
    <table class="table table-striped table-responsive-md btn-table">
      <thead>
        <tr >
          <td style="width:20px;">Cantidad</td>
          <td>Producto</td>
          <td>Precio</td>
        </tr>
      </thead>
      <tbody>
        <tr class="has-text-centered" *ngFor="let item of servicios">
          <td>1</td>
          <td>{{item.nombre}}</td>
          <td>{{item.costo | number:'.2-2'}} USD</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="carrito-total">
          <td colspan="2"></td>
          <td>
            Total: {{total}} USD
          </td>
        </tr>
      </tfoot>
    </table>
  <div>
</div>
<div class="formulario">
  <h2>Información para realizar pago</h2>
  <form (ngSubmit)="pago()">
    <div class="form-group">
      <label for="numTarjeta">Numero tarjeta</label>
      <input type="number" required id="numTarjeta" name="numTarjeta" class="form-control" [(ngModel)]="numTarjeta"/>
    </div>

    <div class="form-group">
      <label for="numCuotas">Numero de cuotas</label>
      <input type="number" required id="numCuotas" name="cuotas" class="form-control" [(ngModel)]="cuotas"/>
    </div>


    <div class="form-group">
      <label for="txtCvs">CVS</label>
      <input type="password" id="txtCvs" name="cvs" class="form-control" required [(ngModel)]="cvs"/>
    </div>
      <!--  -->
    <div class="form-group">
      <label for="fechavencimiento">Fecha de vencimiento</label>
      <input type="date" id="fechavencimiento" name="fecha" class="form-control" [(ngModel)]="fechavencimiento" required/>
    </div>

    <div class="form-group">
      <button class="btn btn-outline-success mx-auto d-block" type="submit">Pagar</button>
    </div>
  </form>
</div>
